@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #ffffff;
  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Color variables */
  --primary-color: #fffffe;
  --secondary-color: #72757e;
  --tertiary-color: #2cb67d;
  --highlight-color: #7f5af0;
  --accent-color: #fbbc05;
  --text-color: #333333;
  --stroke-color: #010101;
  --background-color: #242629;
  --headline-color: #fffffe;
  --subheadline-color: #94a1b2;

  /* Card color variables */
  --card-background-color: #16161a; /* Card background color */
  --card-header-color: #fffffe; /* Card header color */
  --card-paragraph-color: #94a1b2; /* Card paragraph color */

  /* Font size variables */
  --font-small: 12px;
  --font-medium: 16px;
  --font-large: 24px;

  /* Spacing variables */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;

  /* Border radius variables */
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 30px;

  /* Box shadow variables */
  --box-shadow-light: 0px 2px 5px rgba(0, 0, 0, 0.1);
  --box-shadow-medium: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

/* Ensures that the whole page fills the viewport height */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* border: 1px solid Blue; */
}

/* Content wrapper handles the flex layout between sidebar and main content */
.content-wrapper {
  display: flex;
  flex-grow: 1; /* Takes up the remaining space after the navbar */
  overflow: hidden; /* Ensures no unwanted overflow */
}

/* Main content will fill the rest of the screen */
.main-content {
  flex-grow: 1; /* Ensures it uses the remaining space in the content-wrapper */
  background-color: var(--background-color);
  overflow-y: auto; /* Allows scrolling within the main content */
}
